@model IEnumerable<EventDto>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Events for this day</h1>

@if (Model != null && Model.Any())
{
    foreach (var eventData in Model)
    {
        <div>
            <h2>@(eventData.Title)</h2>
            <h3>@(eventData.StartDate.ToShortDateString()) - @(@eventData.EndDate.ToShortDateString())</h3>
            <label>@(eventData.Location)</label>
            <label>@(eventData.Description)</label>
        </div>
    }    
}