@model IEnumerable<EventDto>

@{
    ViewData["Title"] = "Thinklogic Assessment";
    const string labelClass = "col-md-1";
    var idContainer = Guid.NewGuid().ToString("N");
}

<div id="@idContainer">
    <h1>Events for this day</h1>

    @if (Model != null && Model.Any())
    {
        <table class="table highlight">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventData in Model)
                {
                    <tr data-eventdata="@(JsonConvert.SerializeObject(eventData))">
                        <td>@(eventData.Title)</td>
                        <td>@(eventData.StartDate.ToShortDateString())</td>
                        <td>@(@eventData.EndDate.ToShortDateString())</td>
                        <td>@(eventData.Location)</td>
                        <td>@(eventData.Description)</td>
                        <td><button class="btn btn-secondary editEventBtn">Edit</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No events were found for this day.</p>
    }

    <div class="container">    
        <form asp-action="Save">
            <div class="row">           
                <h2>Adding an event:</h2>
                <input name="Id" type="hidden" />
                <div class="col-md-12 form-group"> 
                    <label class="@labelClass">Title</label>
                    <input name="Title" type="text" maxlength="255" required="required" />
                </div>
                <div class="col-md-12 form-group"> 
                    <label class="@labelClass">Start Date</label>
                    <input name="StartDate" type="date" required="required" />
                </div>
                <div class="col-md-12 form-group"> 
                    <label class="@labelClass">End Date</label>
                    <input name="EndDate" type="date" required="required" />
                </div>
                <div class="col-md-12 form-group"> 
                    <label class="@labelClass">Location</label>
                    <input name="Location" type="text" maxlength="500" />
                </div>
                <div class="col-md-12 form-group"> 
                    <label class="@labelClass">Description</label>
                    <textarea name="Description"></textarea>
                </div>
                <button id="saveEventBtn" class="btn btn-primary col-md-1 " type="submit">Save Event</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        window.onload = function () {
            new calendar($('#@(idContainer)'));
        };
    </script>
}